footer {
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    border-top: 1px solid #cccccc;
    right: 0px;
    bottom: 0px;
    position: fixed;
    text-align: center;
    line-height: 60px;
}